/*NAVBAR*/
.navbar {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
   
}

/*CAROUSEL*/
.carousel {
    margin: 0%;
    padding: 0%;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    height: 610px;
    width: 100%;
}
.carousel-control.right {
    height: 600px;
}
.carousel-control.left {
    height: 600px;
}
.bs-example {
    margin-top: -10px;   
} 
.bs-example h1 {
    font-family: 'Monoton', cursive;
    font-size: 13rem;
}
.bs-example p {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.3rem;
    font-size: 20px;  
}
.bs-example a {
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 3px;
    }
    
/*row*/
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row h2 {
    padding: 10px; 
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
.image-container {
    overflow: hidden;
}
.project h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.project p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 2px; 
    }
.image-container img {
    opacity: 0.7;
    transition: transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
}
.image-container img:hover {
    opacity: 1;
    transform: scale(1.3);
}

 .categories h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}
.categories li{
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 21px;  
}
.paragraph {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
   
}
 .paragraph h3 {
    font-weight: bold;
}
.help strong {
    display: inline-block;
    margin-bottom: 1.4rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.btn-primary {
    width: 160px;
    
    padding: 1.3rem;
    border: 0;
    margin-top: 2.8rem;
    background-color: #399bd1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transition: .5s box-shadow;
    margin: 20px;

}
.help {
    padding: 5.2rem 0;
    background-color: #f3f3f3;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
  
}
.featured-project h2 {
    font-family: 'Righteous', cursive;
}
.container h2 {
    font-family: 'Righteous', cursive;
}
.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
}
.fa {
    margin-left: -12px;
    margin-right: 8px;
}